*{
    margin: 0;
    box
}



#banner{
    width: 100vw;
    height: 30vh;
    background-image: url("https://wallpapers.com/images/hd/1920x1080-aesthetic-glrfk0ntspz3tvxg.jpg");
    background-size: cover;
    background-position: center;
}

nav{
    height: 12vh;
    background-color: rgb(195, 169, 243);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 10vw;
}

a{
    color: black;
    text-decoration: none;
}

.card{
    height: 40vh;
    width: 25vw;
    outline: 1px red solid;
    border-radius: 20px;
    box-shadow: 0px 0px 6px rgb(255, 1, 1);
}
.imagen{
    background-image: url("https://wallpapers.com/images/hd/1920-x-1080-hd-1qq8r4pnn8cmcew4.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 70%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
article{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 3rem;
}